.vertical-menu {
    width: 400px; /* Set a width if you like */
    list-style-type: none;
    padding-top: 30px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 30px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    font-size: 13pt;
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.menu{
    background-color: rgb(145, 156, 145); /* Grey background color */
    color: white; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 30px; /* Add some padding */
    text-decoration: none;
    text-align: center;
    font-size: 15pt;
}