body {
	margin: 0; /* default space outside the object body*/
	/*width: 1920px; //set default width*/  /*commented out*/
	/*height: 100%;  //set default to the height of window*/ /*commented out*/
}
img {/* holder for any image attributes*/
		
}

#outer{
	margin-top: 40px;
	margin-left: 40px;
	width: 200px; 
	height: 200px;  
	background-color: green;
	float:left; /*The float property specifies how an element should float.*/

}

#inner{
	width: 100px; 
	height: 100px;
	margin-top: 70px;
	margin-left: 50px;
	float:left;
	background: blue;
}

.container {
	margin-top: 40px;
	width: 1120px; 
	height: 1020px;  
	float: left;
	background-color: #DDDDAA;
}