@charset "utf-8";
/* CSS Document */

#bg1 {	
	top: 0;
	left: 0;
	width: 100%;	
	height: 100%;		
	background-image: url(tree4.jpg);
	background-size: cover;
	position: absolute;
	z-index: 0;
}

#text1 {
	top: 10;
	left: 10;
	font-size:40px;
	width:360px; 
	height:80px;
	margin-top:396px; 
	margin-left:129px;
	position: absolute;
	z-index: 1;
	font-family: 'Castoro', serif;
}